:root {

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  font-family:Montserrat;
}
p{
  font-family:Roboto;
  font-size:1.1em;
  font-weight:300;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*{
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

.btn-close{
  padding:.5em !important;
}
.btn-edit{
  background:blue;
  color:white;
}
.btn-edit:hover{
  background:lightblue;
  color:white;
}
.btn-save{
  background:#535bf2;
  color:white;
  border:1px solid blue;
  margin-right:5px;
}
.btn-save:hover{
  color:white;
  background:#333bc4;
}
.btn-add{
  background:green;
  color:white;
}
.btn-add:hover{
  background:limegreen;
  color:white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-family:Roboto;
}

.nav-item:hover {
  color: orangered; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 766px) {
  .navbar {
    position:relative;
  }
  .navbar-brand {
    margin-bottom: 0.5rem;
  }
  .navbar-collapse {
    background:linear-gradient(white , aliceblue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:.5em;
    z-index:10;
    border-bottom: 2px solid #f0f0ff;
  }
  .navbar .container{
    position:absolute;
    left:0px;
    top: 10px;
    margin:auto;
    display: flex;
    justify-content: flex-end;
  }

  .shoplist{
    display:flex;
    flex-direction:column;
    width:100%;
  }
  #eshop .card {
    width: 100%;
}

#eshop{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
#eshop .shoplist{
  margin: -5px;
}
#eshop .shopbasket_container{
  justify-content: center;
}
}

.navbar-brand {
  margin-right: 0.5rem; 
}

.navbar-brand:last-child {
  margin-right: 0;
}

.w-fit-content{
  width:fit-content;
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow:none !important;
}
.nav-item {
  border-bottom:2px solid transparent;
  transition:.2s ease-in-out;
}
.nav-link{
  border-bottom:2px solid transparent;
}
.nav-link.active{
  cursor:default;
  transition:none;
  color:orangered !important;
  font-weight:bold;
}
.nav-link:hover:not(.active){
  color:orangered !important;
  border-bottom:2px solid orangered;
}
.user-avatar {
  padding: 0 .3em 0.1em .3em;
}
.popover-body {
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.popover-body a{
  text-align: center;
  color:black;
  transition:.1s ease all;
}
.popover-body a:hover{
  color:orangered;
}
#alerts_box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index:13;
}
#userPanelContainer{
  background:azure;
  border-radius:5px;
  border:1px solid rgb(203, 244, 252);
}

/* exam page */

#exampage.container {
  max-width: 1200px; /* Adjust as needed */
}

#exampage h5 {
  font-size: 1.25rem;
}

#exampage .options {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
}

#exampage .options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#exampage .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fefefe;
  border-radius: 50%;
  border: 1px solid #3b3b3b;
  margin-top: 3px;
}

#exampage .options:hover input ~ .checkmark {
  background-color: #ccc;
}

#exampage .options input:checked ~ .checkmark {
  background-color: #336730;
}

#exampage .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

#exampage .options input:checked ~ .checkmark:after {
  display: block;
}

#exampage .options .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* styles.css or your preferred style file */

#exampage .list-group-item {
  margin-top:5px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid white;
}

#exampage .list-group-item:hover,
#exampage .list-group-item.active {
  background-color: green !important;
  color: whitesmoke !important;
  border: 1px solid limegreen !important;
}

#examNotification {
  padding: .5em;
  position: absolute;
  z-index: 100000000;
  background: linear-gradient(90deg, crimson , #ce2929);
  color: #fdfdfd;
  margin: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,.2);
  font-family: Cursive !important;
  bottom: 0px;
}

.notchecked{
  background:white;
  color:black !important;
}

.checked{
  background-color: #c73131;
  color: #fff9f9;
  border: 1px solid crimson;
}

#exampage .border.p-3 {
  min-width: 100%;
}